.help {
    position: fixed;
    top: 0;
    left: 15%;
    width: 85%;
    height: 100%;
    background-color: #f2f2f2;
    color: black;
    z-index: 9998;
    padding: 20px;
    overflow-y: auto;
}

.help h2 {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 0;
}

.help h3 {
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}
  
.help h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #666;
}

.help p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.help-wrapper{
    margin-bottom: 120px;
}

@media (max-width: 1024px) {

    .help {
        left: auto !important;
        top: auto;
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        color: black;
    }
}
@media (max-width: 768px) {
    
    .help {
        left: auto !important;
        top: auto;
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        color: black;
    }
}