.login-form {
    border: 3px solid #7D4032;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    padding: 40px;
}

.login {
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

.title {
    margin-bottom: 10px;
    font-size: 24px;
}

.errors {
    margin-bottom: 12px;
    text-align: center;
    color: red;
    font-size: 14px;
}

label {
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
    width: 100%;
    font-size: 16px;
    display: block;
}

.go-back-to-the-homepage {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
}

.login .go-back-to-the-homepage:hover {
    text-decoration: underline;
}

.dont-have-an-account-already {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
}

.login .dont-have-an-account-already:hover {
    text-decoration: underline;
}

button[type="login-button"] {
    font-size: 16px;
    background-color: #7D4032;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 5px;
}


input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1.5px solid #ccc;
}

@media screen and (max-width: 1024px) {
    .login-form {
        padding: 50px;
        margin-top: 70px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 15px;
    }
  
    input[type="password"],
    input[type="email"] {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .login-form {
        padding: 50px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 15px;
    }
  
    input[type="password"],
    input[type="email"] {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 480px)  {
    .login-form {
        padding: 20px;
    }

    button[type="login-button"] {
        font-size: 13px;
        padding: 6px;
        margin-bottom: 10px;
    }
  
    input[type="password"],
    input[type="email"] {
        margin-bottom: 10px;
    }
}

@media (max-width: 280px) {
    .login-form {
      max-width: 220px;
      padding: 20px;
    }

    button[type="login-button"] {
        font-size: 13px;
        padding: 6px;
        margin-bottom: 10px;
    }
  
    input[type="password"],
    input[type="email"] {
        margin-bottom: 10px;
    }
}
