.login-form {
    border: 3px solid #7D4032;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    padding: 40px;
    min-width: 50px;
    max-width: 300px;
}

.login {
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    overflow-x: auto;
}

.title {
    margin-bottom: 10px;
    font-size: 24px;
}

.errors {
    margin-bottom: 12px;
    text-align: center;
    color: red;
    font-size: 14px;
    white-space: wrap;
}

label {
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
    width: 100%;
    font-size: 16px;
    display: block;
}

a {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
}

.go-back-to-the-homepage {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
}

.login .go-back-to-the-homepage:hover {
    text-decoration: underline;
}

.dont-have-an-account-already {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
}

.login .dont-have-an-account-already:hover {
    text-decoration: underline;
}

button[type="login-button"] {
    font-size: 16px;
    background-color: #7D4032;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 5px;
    min-width: 40px;
}

input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1.5px solid #ccc;
}

@media screen and (max-width: 1024px) {
    .login-form {
        padding: 50px;
        margin-top: 75px;
        max-width: 400px;
        max-height: 500px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 15px;
    }
  
    input[type="password"],
    input[type="email"] {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 820px) {
    .login-form {
        padding: 50px;
        margin-top: 70px;
        max-width: 500px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 15px;
    }
  
    input[type="password"],
    input[type="email"] {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .login-form {
        padding: 50px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 15px;
    }
  
    input[type="password"],
    input[type="email"] {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 480px)  {
    .login-form {
        padding: 20px;
        max-width: 350px;
    }

    button[type="login-button"] {
        font-size: 13px;
        padding: 6px;
        margin-bottom: 10px;
    }
  
    input[type="password"],
    input[type="email"] {
        margin-bottom: 10px;
    }
}

@media (max-width: 280px) {
    .login-form {
        max-width: 250px;
        padding: 20px;
        overflow-x: auto;
    }

    button[type="login-button"] {
        font-size: 13px;
        padding: 6px;
        margin-bottom: 10px;
    }
  
    input[type="password"],
    input[type="email"] {
        margin-bottom: 10px;
    }
}

@media screen and (orientation: landscape) and (min-height: 300px) and (max-width: 652px) {
    .login {
        padding: 16px;
        justify-content: center;
        align-items: center; 
    }

    .login-form {
        max-width: 300px;
        padding: 10px; 
        margin-top: 270px;
    }

    .title {
        font-size: 20px;
    }

    label {
        font-size: 14px; 
    }

    input[type="password"],
    input[type="email"] {
        margin-bottom: 10px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 10px;
    }
}

@media screen and (orientation: landscape) and (min-height: 300px) and (min-width: 654px) and (max-width: 719px) {
    .login {
        padding: 16px;
        justify-content: center;
        align-items: center; 
    }

    .login-form {
        max-width: 300px;
        padding: 10px; 
        margin-top: 270px;
        margin-bottom: 20px;
    }

    .title {
        font-size: 20px;
    }

    label {
        font-size: 14px; 
    }

    input[type="password"],
    input[type="email"] {
        margin-bottom: 10px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 10px;
    }
}

@media screen and (orientation: landscape) and (min-height: 280px) and (min-width: 721px) and (max-width: 739px) {
    .login {
        padding: 16px;
        justify-content: center;
        align-items: center; 
    }

    .login-form {
        max-width: 300px;
        padding: 10px; 
        margin-top: 270px;
    }

    .title {
        font-size: 20px;
    }

    label {
        font-size: 14px; 
    }

    input[type="password"],
    input[type="email"] {
        margin-bottom: 10px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 10px;
    }
}

@media screen and (orientation: landscape) and (min-height: 280px) and (min-width: 741px) and (max-width: 1000px) {
    .login {
        padding: 16px;
        justify-content: center;
        align-items: center; 
    }

    .login-form {
        max-width: 300px;
        padding: 10px; 
        margin-top: 270px;
        margin-bottom: 30px;
    }

    .title {
        font-size: 20px;
    }

    label {
        font-size: 14px; 
    }

    input[type="password"],
    input[type="email"] {
        margin-bottom: 10px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 10px;
    }
}

@media screen and (orientation: landscape) and (width: 740px) and (height: 360px) {
    .login {
        padding: 16px;
        justify-content: center;
        align-items: center; 
    }

    .login-form {
        max-width: 300px;
        padding: 10px; 
        margin-top: 280px;
        margin-bottom: 20px;
    }

    .title {
        font-size: 20px;
    }

    label {
        font-size: 14px; 
    }

    input[type="password"],
    input[type="email"] {
        margin-bottom: 10px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 10px;
    }
}

@media screen and (orientation: landscape) and (width: 720px) and (height: 540px) {
    .login {
        padding: 16px;
        justify-content: center;
        align-items: center; 
    }

    .login-form {
        max-width: 300px;
        padding: 10px; 
        margin-top: 100px;
    }

    .title {
        font-size: 20px;
    }

    label {
        font-size: 14px; 
    }

    input[type="password"],
    input[type="email"] {
        margin-bottom: 10px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 10px;
    }
}

@media screen and (orientation: landscape) and (min-device-width: 280px) and (max-device-width: 653px) and (-webkit-min-device-pixel-ratio: 3) {
    .login {
        padding: 16px;
        justify-content: center;
        align-items: center; 
    }

    .login-form {
        max-width: 300px;
        padding: 10px; 
        margin-top: 380px;
        margin-bottom: 20px;
    }

    .title {
        font-size: 20px;
    }

    label {
        font-size: 14px; 
    }

    input[type="password"],
    input[type="email"] {
        margin-bottom: 10px;
    }

    button[type="login-button"] {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 10px;
    }
}
