@media (max-width: 400px) {
    body {
        overflow-x: scroll;
    }

    .smaller-search {
        width: 120px !important;
    }
}

@media (max-width: 300px) {
    body {
        overflow-x: scroll;
    }

    .smaller-search {
        width: 100px !important;
    }
}
